<h1>Letters</h1>

<table>
  <thead>
    <th>ID</th>
    <th>Subject</th>
    <th>Date Created</th>
    <th>Actions</th>
  </thead> 

  <tbody>
    <% @letters.each do |letter| %>
      <tr>
        <td><%= letter.id %></td>
        <td><%= letter.subject %></td>
        <td><%= letter.created_at.strftime('%m-%d-%Y') %></td>
        <td>
          <%= link_to 'Edit', edit_letter_path(letter) %> | 
          <%= link_to 'Destroy', letter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Letter', new_letter_path %>
