<h1>Emails</h1>
<div class="homepageGrid">
  <table>
    <thead>
      <th>Name</th>
      <th>Time Created</th>
      <th>Date Created</th>
      <th>Actions</th>
      <th></th>
    </thead> 
    <tbody>
    <% @letters.each do |letter| %>
      <tr>
        <% letter = JSON.parse(letter.to_json, object_class: OpenStruct) %>
        <td>
          <% if letter.subject.present? %>
            <%= link_to(letter.subject, edit_letter_path(letter.id)) %>
          <% else %>
            <%= link_to("No subject", edit_letter_path(letter.id)) %>
          <% end %>
        </td> 
        <td>
          <% if letter.created_at %>
            <%= DateTime.parse(letter.created_at).strftime('%I:%M%P') %>
          <% end %>
        </td>
        <td>
          <% if letter.created_at %>
            <%= DateTime.parse(letter.created_at).strftime('%h %d, %Y') %>
          <% end %>
        </td>
        <td>
          <%= button_to("Delete", letter_path(letter.id), method: :delete, class: 'uw-button-small delete-button') %>
        </td>        
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @letters, style: 'text-align: center' %>
</div>

